<div flex layout="column" layout-align="center center" layout-fill>
  <h1 class="md-display-3">When is the latest you'd be willing to leave?</h1>
  <div layout="row">
    <md-datepicker ng-model="pickedDate" md-min-date="yesterday" md-max-date="oneYear"></md-datepicker>
    <md-button class="md-icon-button" aria-label="Done" ng-click="navigate()"><ng-md-icon icon="done"></ng-md-icon></md-button>
  </div>
  <p>or</p>
  <div layout="row">
    <md-button class="md-raised" ng-click="inMonth(3)">3 Months</md-button>
    <md-button class="md-raised" ng-click="inMonth(6)">6 Months</md-button>
  </div>
</div>
